.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sidebar {
  flex: 1;
  max-width: 352px;
  min-width: 250px;
  padding-left: 32px;
}
.main {
  flex: 1;
  width: 100;
  min-width: 352px;
  max-width: 840px;
  box-sizing: border-box;
}
@media screen and (max-width: 670px) {
  .sidebar {
    max-width: none;
    padding-left: 0;
  }
}
.summary {
  padding: 0 0 8px 0;
  margin: 0;
}
.roleTitle {
  font-weight: 500;
}