.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 1;
  max-width: 352px;
  padding-left: 32px;
}
.main {
  flex: 1;
}
@media screen and (max-width: 1024px) {
  .sidebar {
    max-width: none;
  }
}
.summary {
  padding: 0 0 8px 0;
  margin: 0;
}