.container {
  padding: 12px 0;
}
.header {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 500;
  text-decoration: none;
}
.date {
  font-size: 14px;
}