html {
  font-size: 18px;
  color: #292A2C;
  overflow-y: scroll;
}

p {
  font-size: 18px;
  line-height: 32px;
}
a {
  color: inherit;
}
p>a, h1>a{
  text-decoration: none;
  color: #007ed5;
}
p>a:hover{
  /* color: #292A2C; */
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: calc(18px + 1.25vw);
  line-height: 1.25;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}

.page-header {
  padding: 64px 0 64px;
  max-width: 736px;
}

.content,
.intro {
  max-width: 736px;
  margin: 40px auto;
}

.intro>p {
  padding: 40px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.65;
}